<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Email Link Builder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '149999852253148');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=149999852253148&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
  
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.css'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Poppins:400,700'>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <div id="app" class="section">
  <div class="container" style="max-width: 900px;">
    <div class="columns">
      <div class="column animated fadeIn">
        <h2 class="subtitle">The Email</h2>
        <div class="card">
          <header class="card-header is-block">
              <div class="field">
                <div class="control">
                  <input 
                    class="input is-quiet is-medium"
                    type="text" 
                    placeholder="To"
                    value=""
                    v-model="to"
                    autofocus
                  >
                      <!-- autofocus -->
                </div>
                <div class="control">
                  <input 
                    class="input is-quiet is-medium" 
                    type="text" 
                    placeholder="Cc"
                    v-model="cc"
                  >
                </div>
                <div class="control">
                  <input
                    class="input is-quiet is-medium"
                    type="email"
                    placeholder="Bcc"
                    v-model="bcc"
                  >
                </div>
              </div>
          </header>
          <div class="card-content">
            <div class="field">
              <div class="control">
                <input
                  class="input is-quiet is-medium"
                  type="text"
                  placeholder="Subject"
                  v-model="subject"
                >
              </div>
            </div>
            <div class="field">
              <div class="control">
                <textarea
                  class="textarea is-quiet is-medium"
                  placeholder="Body"
                  v-model="body"
                ></textarea>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a :href="link" class="button is-medium is-primary" target="_blank">Send</a>
              </span>
            </p>
          </footer>
        </div>
      </div>
      <div class="column">
        <div v-if="to !== ''" class="animated fadeIn">
          <h2 class="subtitle">The Link</h2>
          <pre style="word-break: break-all;">
          {{ link }}
          </pre>
          <br />
          <h2 class="subtitle">The Html</h2>
          <pre style="word-break: break-all;">
          {{ html }}
          </pre>
          <br />
          <div class="level">
            <p class="level-item has-text-centered">
               <a :href="link" class="button is-medium is-primary" target="_blank">Test</a>
            </p>
          </div>
        </div>
      </div>
    </div><!--  .columns  -->
  </div><!--  .container  -->
</div><!--  .section  -->

<div class="level">
  <p class="level-item has-text-centered">
    <a href="https://www.messenger.com/t/samcarltoncreative" target="_blank">Help</a>
  </p>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/is_js/0.9.0/is.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
